# Ignore all by default
/*

# Don't ignore the bash files
!.bash/
!.bashrc
!.bash_logout
!.bash_profile

# Don't ignore my SSH configuration file
!.ssh/config

# Vim is covered
!.vimrc
!.vim/
.vim/.netrwhist

# curl and wget
!.curlrc
!.wgetrc

# Revision control systems
!.gitconfig
!.hgrc

# Shell input
!.inputrc

# Terminal sharing utilities
!.screenrc
!.tmux.conf

# Don't ignore signatures.
!.sigs/
